body {
    background-color: #EBEBEB;
}

.welcome {
    padding: 30px;
    /*background-color: #000;
    color: #fff;*/
}

.about {
    text-align: center;
}

.greetings h1 {
    font-size: 64px;
}

.greetings span {
    font-size: 25px;
}

.social-icons {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    display: inline-block;
}

span.glyphicon {
    font-size: 30px;
}

.mail {
    background-image: url("../img/icons/mail.png");
    background-image: url("../img/icons/mail.svg"), none;
}

.mail:hover {
    background-image: url("../img/icons/mail_hover.png");
    background-image: url("../img/icons/mail_hover.svg"), none;
}

.skype {
    background-image: url("../img/icons/skype.png");
    background-image: url("../img/icons/skype.svg"), none;
}

.skype:hover {
    background-image: url("../img/icons/skype_hover.png");
    background-image: url("../img/icons/skype_hover.svg"), none;
}

.twitter {
    background-image: url("../img/icons/twitter.png");
    background-image: url("../img/icons/twitter.svg"), none;
}

.twitter:hover {
    background-image: url("../img/icons/twitter_hover.png");
    background-image: url("../img/icons/twitter_hover.svg"), none;
}

.linkedin {
    background-image: url("../img/icons/linkedin.png");
    background-image: url("../img/icons/linkedin.svg"), none;
}

.linkedin:hover {
    background-image: url("../img/icons/linkedin_hover.png");
    background-image: url("../img/icons/linkedin_hover.svg"), none;
}

.github {
    background-image: url("../img/icons/github.png");
    background-image: url("../img/icons/github.svg"), none;
}

.github:hover {
    background-image: url("../img/icons/github_hover.png");
    background-image: url("../img/icons/github_hover.svg"), none;
}

.stackoverflow {
    background-image: url("../img/icons/stackoverflow.png");
    background-image: url("../img/icons/stackoverflow.svg"), none;
}

.stackoverflow:hover {
    background-image: url("../img/icons/stackoverflow_hover.png");
    background-image: url("../img/icons/stackoverflow_hover.svg"), none;
}

.detail-header {    
    color: #EBEBEB;
    background: #333333;
}

.nav-pills > li > a {
    color: #EBEBEB;
    background: #333333;
    margin-top: 3px;
}

.nav-pills > li > a:hover {
    color: #EBEBEB;
    background: #333333;
}