<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">{{ site.domain }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav nav-pills navbar-right">
            <li><a href="{{ "/cv.pdf" | prepend: site.baseurl }}">Download CV</a></li>
          </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>
